<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Test Page
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid class="height-100">
    <ion-row class="center">
      <ion-fab-button (click)="addPhotoToGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-row>
  </ion-grid>

</ion-content>